/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 424.98px){
    /* header start */
    .logo img{
        width: 100%;
    }
    .nav-menu ul li{
        margin-right:10px;
    }
    .nav-menu ul li a{
        font-size: 16px;
    }
    .custom-button button{
        width: 100px;
        padding: 5px;
        font-size: 14px;
    }
    /* header end */


	/* banner start */
    .banner{
        padding-top: 10px;
        
    }
    .banner-content{
        padding: 48px 10px 400px 10px;
        background-image: url('../images/mobile-banner.webp');
        background-size: auto;
        background-repeat:no-repeat;
        background-position:center;
        box-shadow: 0px 4px 20.6px 0px rgba(0, 0, 0, 0.08);
        text-align: center;
        border-radius: 37px;
    }
    .banner-content .tagline{
        font-size: 12px;
    }
    .banner-content h1{
        margin: 24px 0;
        font-size: 20px;
    }
    .banner-content p{
        margin-bottom: 24px;
        font-size: 12px;
    }
    .download-button button{
        padding: 8px;
        width: 120px;
    }
    .download-button img{
        width: 90%;
    }
    .playstore button{
        margin-left: 10px;
    }

    /* banner end */

    /* about start */
    .about{
        padding: 80px 0;
    }
    .custom-container{
        padding:20px ;
    }
    .about h1{
        margin-bottom: 30px;
    }
    .gradient-title{
        font-size: 25px;
    }
    .card{
        margin-bottom: 10px;
        padding: 20px;
        min-height: 250px;
    }
    .card img{
        width: 20%;
        margin-bottom: 20px;
    }
    .card h3{
        font-size: 20px;
    }
    .card p{
        font-size: 15px;
    }
    /* about end */

    /* blog start */
    .blog{
        padding: 50px 0 50px 0;
    }
    .white-title{
        margin-bottom: 30px;
        font-size: 25px;
        line-height: normal;
    }
    .card-image{
        margin-bottom: 10px;
    }
    .blog h5{
        font-size: 20px;
    }
    .arrow{
        margin-top: 15px;
    }
    .blog p{
        font-size: 15px;
    }
    /* blog end */

    /* help start */
    .help{
        padding: 80px 0;
        background-image: none;
    }
    .help-container{
        padding: 20px;
    }
    .help-content{
        order: 2;
    }
    .help h1{
        margin-top: 0;
    }
    .help p{
        font-size: 15px;
    }
    .help ul{
        margin: 40px 0 30px 0;
    }
    .help ul li{
        font-size: 20px;
    }
    .help-image{
        margin-bottom: 80px;
        order: 1;
    }
    /* help end */

    /* privacy start */
    .privacy{
        padding: 80px 0 80px 0;
    }
    .privacy-card{
        min-height: 260px;
        margin-bottom: 10px;
        padding: 20px;
    }
    .privacy img{
        width: 30%;
        margin-bottom: 30px;
    }
    .privacy h5{
        font-size: 20px;
    }
    .privacy p{
        font-size: 15px;
    }
    .privacy-button{
        padding: 10px;
        margin-left: 21%;
        margin-top: 30px;
        width:170px;
        font-size: 18px;
    }
    /* privacy end */

    /* contact start */
    .contact{
        padding-top: 80px;
    }
    .contact-content{
        order: 2;
    }
    .contact h1{
        margin-top: 20px;
    }
    .contact p{
        font-size: 14px;
    }
    .contact-info{
        margin-top: 20px;
    }
    .contact-info img{
        width: 15%;
        margin-bottom: 10px;
    }
    .contact-banner{
        order: 1;
    }
    /* contact end */

    /* faq start */
    .faq{
        padding: 60px 0;
    }
    .faq h1{
        text-align: center;
    }
    .acc{
    margin: 20px 10px 0 10px;
    }
    .acc-button{
        font-size: 16px;
    }
    .acc-body{
        padding-top: 0;
        min-height: 120px;
        font-size: 12px;
    }
    /* faq end */

    /* newsletter start */
    .newsletter{
        padding-bottom: 80px;
    }
    .newsletter-content{
        margin: 0 20px 0 20px;
        padding: 10px;
        background-image: url('../images/news-mobile-banner.webp');
    }
    .newsletter-content img{
        width: 20%;
    }
    .newsletter-content h1{
        font-size: 18px;
        line-height: 46px;
    }
    .news-form{
        margin-bottom: 10px;
    }
    .news-form input{
        min-width:220px;;
        padding: 10px;
        font-size: 12px;
    }
    .news-form button{
        margin-left: -82px;
        padding: 5px;
        min-width:50px;
        font-size: 12px;
    }
    .newsletter-content p{
        padding: 0;
        font-size: 12px;
    }
    /* newsletter end */

    /* footer start */
    .footer-content{
        padding-top: 40px;
    }
    .footer-logo img{
        width: 50%;
    }
    .footer-logo p{
        margin-top: 20px;
        font-size: 12px;
    }
    .footer-menu h3{
        font-size: 14px;
    }
    .footer-menu ul li a{
        font-size: 12px;
    }
    footer .line{
        margin-top: 20px;
    }
    .copyright{
        padding: 10px 0;
        font-size: 10px;
        line-height: normal;
    }
    /* footer end */
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 425px) and (max-width: 767.98px){
    /* header start */
    .logo img{
        width: 100%;
    }
    .nav-menu ul li{
        margin-right:10px;
    }
    .nav-menu ul li a{
        font-size: 16px;
    }
    .custom-button button{
        width: 100px;
        padding: 5px;
        font-size: 14px;
    }
    /* header end */


	/* banner start */
    .banner{
        padding-top: 30px;
        
    }
    .banner-content{
        padding: 80px 0;
    }
    .banner-content .tagline{
        font-size: 14px;
    }
    .banner-content h1{
        font-size: 30px;
    }
    .banner-content p{
        margin-bottom: 30px;
        font-size: 15px;
    }
    .download-button button{
        width: 150px;
    }
    .download-button img{
        width: 80%;
    }
    .playstore button{
        margin-left: 10px;
    }

    /* banner end */

    /* about start */
    .custom-container{
        padding:80px 20px ;
    }
    .about h1{
        margin-bottom: 20px;
    }
    .gradient-title{
        font-size: 30px;
    }
    .card{
        margin-bottom: 10px;
        padding: 20px;
        min-height: 250px;
    }
    .card img{
        width: 15%;
        margin-bottom: 30px;
    }
    .card h3{
        font-size: 20px;
    }
    .card p{
        font-size: 15px;
    }
    /* about end */

    /* blog start */
    .blog{
        padding: 40px 0 80px 0;
    }
    .white-title{
        margin-bottom: 10px;
        font-size: 30px;
    }
    .blog h5{
        font-size: 18px;
    }
    .arrow{
        margin-top: 20px;
    }
    .blog p{
        font-size: 14px;
    }
    /* blog end */

    /* help start */
    .help{
        padding: 80px 0;
        background-image: none;
    }
    .help-container{
        padding: 0 30px;
    }
    .help-content{
        order: 2;
    }
    .help h1{
        margin-top: 30px;
    }
    .help p{
        font-size: 15px;
    }
    .help ul{
        margin: 50px 0 20px 0;
    }
    .help ul li{
        font-size: 18px;
    }
    .help-image{
        margin-bottom: 50px;
        order: 1;
    }
    /* help end */

    /* privacy start */
    .privacy{
        padding: 30px 0 30px 0;
    }
    .privacy-card{
        margin-bottom: 20px;
        padding: 20px;
        min-height: 250px;
    }
    .privacy img{
        width: 20%;
        margin-bottom: 30px;
    }
    .privacy h5{
        font-size: 20px;
    }
    .privacy p{
        font-size: 15px;
    }
    .privacy-button{
        margin-left: 0;
        margin-top: 10px;
        width:150px;
        font-size: 16px;
    }
    /* privacy end */

    /* contact start */
    .contact{
        padding-top: 30px;
    }
    .contact-content{
        order: 2;
    }
    .contact p{
        font-size: 15px;
    }
    .contact-info{
        margin-top: 20px;
    }
    .contact-info img{
        width: 10%;
        margin-bottom: 10px;
    }
    .contact-banner{
        order: 1;
    }
    /* contact end */

    /* faq start */
    .faq h1{
        text-align: center;
    }
    .acc{
    margin: 20px 10px 0 10px;
    }
    .acc-button{
        font-size: 18px;
    }
    .acc-body{
        font-size: 14px;
    }
    /* faq end */

    /* newsletter start */
    .newsletter{
        padding-bottom: 80px;
    }
    .newsletter-content{
        margin: 0 30px;
        padding: 30px 0;
    }
    .newsletter-content img{
        width: 20%;
    }
    .newsletter-content h1{
        font-size: 20px;
        line-height: 46px;
    }
    .news-form{
        margin-bottom: 20px;
    }
    .news-form input{
        min-width:280px;;
        padding: 15px;
        font-size: 14px;
    }
    .news-form button{
        margin-left: -111px;
        padding: 10px;
        min-width:100px;
        font-size: 14px;
    }
    .newsletter-content p{
        font-size: 15px;
    }
    /* newsletter end */

    /* footer start */
    .footer-content{
        padding-top: 80px;
    }
    .footer-logo img{
        width: 40%;
    }
    .footer-logo p{
        margin: 20px 0;
        font-size: 14px;
    }
    .footer-menu h3{
        margin-top: 30px;
        font-size: 16px;
    }
    .footer-menu ul li a{
        font-size: 12px;
    }
    footer .line{
        margin-top: 80px;
    }
    .copyright{
        padding: 10px 0;
        font-size: 10px;
        line-height: 20px;
    }
    /* footer end */
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px){
	/* banner start */
    .banner{
        padding-top: 40px;
        
    }
    .banner-content{
        padding: 50px;
    }
    .banner-content .tagline{
        font-size: 16px;
    }
    .banner-content h1{
        font-size: 40px;
    }
    .banner-content p{
        margin-bottom: 30px;
        font-size: 16px;
    }
    .download-button button{
        width: 150px;
    }
    .download-button img{
        width: 70%;
    }
    .playstore button{
        margin-left: 10px;
    }
    /* banner end */

    /* about start */
    .custom-container{
        padding:50px ;
    }
    .about h1{
        margin-bottom: 50px;
    }
    .gradient-title{
        font-size: 40px;
    }
    .card{
        margin-bottom: 20px;
        padding: 20px;
        min-height: 250px;
    }
    .card img{
        width: 20%;
        margin-bottom: 20px;
    }
    .card h3{
        font-size: 20px;
    }
    .card p{
        font-size: 16px;
    }
    /* about end */

    /* blog start */
    .blog{
        padding: 50px 0 50px 0;
    }
    .white-title{
        margin-bottom: 30px;
        font-size: 40px;
    }
    .card-image{
        margin-bottom: 20px;
    }
    .blog h5{
        font-size: 20px;
    }
    .arrow{
        margin-top: 25px;
    }
    .blog p{
        font-size: 16px;
    }
    /* blog end */

    /* help start */
    .help{
        background-image: none;
    }
    .help-content{
        order: 2;
    }
    .help h1{
        margin-top: 0;
    }
    .help p{
        font-size: 16px;
    }
    .help ul{
        margin: 80px 0 30px 0;
    }
    .help ul li{
        margin-bottom: 20px;
        font-size: 18px;
    }
    .help-image{
        margin-bottom: 50px;
        order: 1;
    }
    .help-image img{
        width: 100%;
    }
    /* help end */

    /* privacy start */
    .privacy{
        padding: 50px 0 50px 0;
    }
    .privacy-card{
        margin-bottom: 20px;
        padding: 30px;
    }
    .privacy img{
        width: 20%;
        margin-bottom: 20px;
    }
    .privacy h5{
        font-size: 20px;
    }
    .privacy p{
        font-size: 16px;
    }
    .privacy-button{
        margin-left: 36%;
        margin-top: 20px;
        width:200px;
        font-size: 18px;
    }
    /* privacy end */

    /* contact start */
    .contact{
        padding-top: 50px;
    }
    .contact-content{
        order: 2;
    }
    .contact p{
        font-size: 16px;
    }
    .contact-info{
        margin-top: 30px;
    }
    .contact-info img{
        width: 8%;
        margin-bottom: 20px;
    }
    .contact-banner{
        order: 1;
    }
    .contact-banner img{
        width: 100%;
    }
    /* contact end */

    /* faq start */
    .faq h1{
        text-align: center;
    }
    .acc{
    margin: 50px 50px 0 50px;
    }
    .acc-button{
        font-size: 20px;
    }
    .acc-body{
        font-size: 16px;
    }
    /* faq end */

    /* newsletter start */
    .newsletter{
        padding-bottom: 50px;
    }
    .newsletter-content{
        margin: 0 30px 0 30px;
        padding: 20px;
    }
    .newsletter-content img{
        width: 10%;
    }
    .newsletter-content h1{
        font-size: 30px;
    }
    .news-form{
        margin-bottom: 30px;
    }
    .news-form input{
        min-width:400px;;
        padding: 15px;
        font-size: 16px;
    }
    .news-form button{
        margin-left: -111px;
        padding: 10px;
        min-width:100px;
        font-size: 16px;
    }
    .newsletter-content p{
        font-size: 16px;
    }
    /* newsletter end */

    /* footer start */
    .footer-content{
        padding-top: 50px;
    }
    .footer-logo img{
        width: 40%;
    }
    .footer-logo p{
        width: 200px;
        margin-top: 20px;
        font-size: 14px;
    }
    .footer-menu h3{
        font-size: 16px;
    }
    .footer-menu ul li a{
        font-size: 12px;
    }
    footer .line{
        margin-top: 50px;
    }
    .copyright{
        padding: 16px 0;
        font-size: 12px;
        line-height: 20px;
    }
    /* footer end */
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px){
    /* header start */
    .logo img{
       width: 100%;
    }
    .nav-menu ul li{
        margin-right:10px;
    }
    .nav-menu ul li a{
        font-size: 18px;
    }
    .custom-button button{
        width: 100px;
        font-size: 18px;
    }
    /* header end */

    /* banner start */
    .banner-content h1{
        font-size: 50px;
    }
    .download-button button{
        width: 200px;
    }
    /* banner end */

	/* about start */
    .gradient-title{
        font-size: 50px;
    }
    .card{
        min-height: 420px;
    }
    .card img{
        width: 20%;
        margin-bottom: 30px;
    }
    /* about end */

    /* blog start */
    .white-title{
        font-size: 50px;
    }
    /* blog end */

    /* help start */
    .help-banner{
        margin-top: 70px;
        width: 110%;
    }
    /* help end */

    /* privacy start */
    .privacy-card{
        min-height: 400px;
        padding: 20px;
    }
    .privacy-button{
        margin-left: 37%;
        margin-top: 40px;
        width:200px;
    }
    /* privacy end */

    /* contact start */
    .contact h1{
        margin-top: 0;
    }
    .contact-info{
        margin-top: 80px;
    }
    /* contact end */

    /* newsletter start */
    .newsletter-content{
        margin: 0 100px 0 100px;

    }
    .newsletter-content img{
        width: 10%;
    }
    /* newsletter end */
}

/* Extra large devices (extra large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1599.98px){
	
}
/* Extra Extra large devices (extra extra large desktops, 1400px and up) */
@media (min-width: 1600px){
    /* banner start */
    .banner-content{
        min-height: 800px;
        padding: 150px 120px 150px 120px;
    }

    /* about start */
    .custom-container{
        padding-left: 280px;
        padding-right: 280px;
    }
    .card img{
        width: 15%;
    }
    /* about end */


    /* help start */
    .help{
        background-image: url('../images/help-bg.png');
        background-position: left;
        background-repeat:no-repeat ;
    }
    .help-container{
        padding: 100px 180px;
    }
    .help h1{
        margin-top: 70px;
    }
    .help ul{
        margin: 150px 0 60px 0;
        list-style-type: circle;
    }
    .help ul li{
        margin-bottom: 20px;
    }
    /* help end */

    /* privacy start */
    .privacy img{
        width: 25%;
        margin-bottom: 40px;
    }
    .privacy-button{
        margin-left: 43%;
    }
    /* privacy end */

    /* newsletter start */
    .newsletter-content{
        min-height: 435px;
        margin: 0 300px 0 300px;
    }
    .newsletter-content img{
        width: 8%;
    }
    /* newsletter end */

}